html * {
  color: #464b52;
  background-color: #eee !important;
  --color-border-secondary: #464b52 !important;
  font-family: Arial, Helvetica, sans-serif;
}

/*fix width and text body style*/
body {
  text-wrap: pretty;
  white-space: no-wrap;
  min-width: 100svw;
  margin-inline: clamp(0.5rem, 6vw, 1.5rem);
}

/*no title with filename for clean print*/
#page-header {
  display: none;
}

/*rid of default borders used in my MD previewer*/
section.markdown-body {
  max-width: 70ch;
  padding-block: 2rem;
  padding-inline: 1rem;
  position: relative;
  border: none;
  counter-reset: pager 1;
}

/*PAGINATION WITH NUMBERING!!!!!!!! :D */

pagebreak {
  page-break-after: always;
}

spacer {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
}

section.markdown-body pagebreak {
  counter-increment: pager;
}

/*at the very top of the document hardcoded 01*/

/*
<frontpage></frontpage>
*/

frontpage {
  display: flex;
  width: 98%;
  background-color: transparent !important;
  height: 1rem;
  transform: translate(2rem, 1rem);
  justify-content: end;
}

frontpage::before {
  font-weight: bold;
  content: "01";
  z-index: 10;
  transform: translateY(58rem) !important;
}

/*pagebreaks with some space before and after (plus pagination via CSS counter)*/

/*
<spacer></spacer>
<pagebreak></pagebreak>
<spacer></spacer>
*/
pagebreak + spacer {
  position: relative;
  width: 103%;
  background-color: transparent !important;
  height: 1rem;
  pointer-events: none;
  display: block;
  text-align: end;
  align-content: end;
  height: 2rem !important;
  padding-block: 2rem !important;
}

pagebreak + spacer::before {
  font-weight: bold;
  content: counter(pager, decimal-leading-zero);
  z-index: 10;
  transform: translateY(59rem) !important;
  float: inline-end !important;
}

/*nicely colored links*/
a,
a > * {
  color: #5c8392 !important;
  font-weight: bold;
}

a:hover {
  color: #123e4f !important;
  font-weight: bold;
}

/*special importance spans*/
.important {
  color: #4f123e;
  font-weight: bold;
  background-color: #dcd0d8 !important;
  padding: 2px 4px !important;
  border-radius: 4px;
}

/*TITLE PAGE HEADER*/
/*
## TOM GORA
## B01665261
<div id="me"></div>
<div id="uws"></div>
*/
h2:nth-of-type(2),
h2:nth-of-type(3) {
  border: none;
  color: #eee !important;
  background-color: #464b52 !important;
  width: 70%;
  padding-left: 10rem;
  padding-block: 1.4rem;
  border-radius: 1rem;
}

h2:nth-of-type(3) {
  margin-top: -3rem;
  margin-bottom: 2rem;
}

th,
.toc_point:nth-child(odd),
.toc_point:nth-child(odd) > * {
  background-color: #e3e4e5 !important;
}

#toc .toc_point {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-inline: 0.25rem;
}

#toc > div:not(.toc_subpoint) span:first-of-type {
  color: #1c1e21 !important;
  text-decoration: underline;
}

#toc .toc_subpoint {
  padding-left: 1.25rem;
}

/* fig captions */
h5[id^="figure"] {
  font-size: 0.85rem;
  margin: 0.25rem 0.5rem !important;
  padding-inline: 1rem;
}

#me {
  content: url("https://avatars.githubusercontent.com/u/109661595?v=4");
  position: absolute;
  aspect-ratio: 1;
  width: 7rem;
  left: 3rem;
  top: 17.5rem;
  filter: contrast(0.7);
  z-index: 1;
}

#uws {
  content: url("https://www.easm.net/wp-content/uploads/2018/06/new-UniWestScot.png");
  width: 7rem;
  position: absolute;
  right: 2rem;
  top: 4rem;
  opacity: 0.7;
}

/*declare general limit on the image paragraph size*/
/*and dedicated classess to override that eiter way*/

p:has(img) {
  height: min(300px, auto);
  margin-block: 0 !important;
  margin-inline: auto !important;
}

img {
  aspect-ratio: auto;
}

.larger-screenshots .source-line:has(img) {
  height: auto;
}

.larger-screenshots .source-line:has(img):last-child {
  height: 600px !important;
}

.smaller-screenshots .source-line:has(img) {
  height: auto;
}

.smaller-screenshots img {
  max-height: 420px !important;
}
.smaller-screenshots:last-of-type img {
  max-height: 370px !important;
}
